<div class="card firstCard">
  <div class="card-body p-0">
    <div class="row">
      <div class="col-md-6 marginBottom">
        <fieldset>
          <div class="form-group row box-labelFloat">
            <label class="col-lg-3 col-form-label"><b class="text-danger">*</b> Acopio</label>
            <div class="col-lg-9">
              <select [(ngModel)]="configuracion.idacopio"
                [ngClass]="{'is-invalid': showValidation && !configuracion.idacopio, 'is-valid': configuracion.idacopio}"
                class="form-select mb-2" name="acopio">
                <option [ngValue]="''">Seleccione una opción</option>
                <option *ngFor="let t of acopios; let i = index" [ngValue]="t.id">{{ t.acopio }}</option>
              </select>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="col-md-6 marginBottom">
        <fieldset>
          <div class="form-group row box-labelFloat">
            <label class="col-lg-3 col-form-label"><b class="text-danger">*</b> Horario</label>
            <div class="col-lg-9">
              <select [(ngModel)]="configuracion.horario"
                [ngClass]="{'is-invalid': showValidation && !configuracion.horario, 'is-valid': configuracion.horario}"
                class="form-select mb-2" name="horario">
                <option [ngValue]="''">Seleccione una opción</option>
                <option [ngValue]="'Dia'">Dia</option>
                <option [ngValue]="'Noche'">Noche</option>
              </select>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 marginBottom">
        <fieldset>
          <div class="form-group row box-labelFloat">
            <label class="col-lg-3 col-form-label"><b class="text-danger">*</b> Fundo</label>
            <div class="col-lg-9">
              <select [(ngModel)]="configuracion.idfundo"
                [ngClass]="{'is-invalid': showValidation && !configuracion.idfundo, 'is-valid': configuracion.idfundo}"
                class="form-select mb-2" name="cultivo">
                <option [ngValue]="''">Seleccione una opción</option>
                <option *ngFor="let t of fundos; let i = index" [ngValue]="t.codigoFundo">{{ t.nombreFundo }}</option>
              </select>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="col-md-6 marginBottom">
        <fieldset>
          <div class="form-group row box-labelFloat">
            <label class="col-lg-3 col-form-label"><b class="text-danger">*</b> Cultivo</label>
            <div class="col-lg-9">
              <select [(ngModel)]="configuracion.idcultivo" 
                [ngClass]="{'is-invalid': showValidation && !configuracion.idcultivo, 'is-valid': configuracion.idcultivo}"
                class="form-select mb-2" name="cultivo" disabled="true">
                <option [ngValue]="''" [disabled]="true">Seleccione una opción</option>
                <option *ngFor="let t of cultivos; let i = index" [ngValue]="t.codigo">
                  {{ t.descripcion }}
                </option>
              </select>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 marginBottom">
        <fieldset>
          <div class="form-group row box-labelFloat">
            <label class="col-lg-3 col-form-label"><b class="text-danger">*</b>&nbsp;&nbsp; Mercado - Destino</label>
            <div class="col-lg-9">
              <app-dropdown [(ngModel)]="configuracion.destino"
                [editable]="true" [data]="destinos" [valueField]="'iddestino'" 
                [textShow2]="'Mercado - Destino'" [optionLabel]="'destinoCompleto'" [required]="true"/>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="col-md-6 marginBottom">
        <fieldset>
          <div class="form-group row box-labelFloat">
            <label class="col-lg-3 col-form-label"><b class="text-danger">*</b> Cliente</label>
            <div class="col-lg-9">
              <select [(ngModel)]="configuracion.cliente"
                [ngClass]="{'is-invalid': showValidation && !configuracion.cliente, 'is-valid': configuracion.cliente}"
                class="form-select mb-2" name="cliente">
                <option [ngValue]="''">Seleccione una opción</option>
                <option *ngFor="let t of clientes; let i = index" [ngValue]="t.id">{{ t.nombre }}</option>
              </select>
            </div>
          </div>
        </fieldset>
      </div> 
    </div>
    <div class="row">
      <div class="col-md-6 marginBottom">
        <fieldset>
          <div class="form-group row box-labelFloat">
            <label class="col-lg-3 col-form-label"><b class="text-danger">*</b> Formato</label>
            <div class="col-lg-9">
              <select [(ngModel)]="configuracion.formato"
                [ngClass]="{'is-invalid': showValidation && !configuracion.formato, 'is-valid': configuracion.formato}"
                class="form-select mb-2" name="formato">
                <option [ngValue]="''">Seleccione una opción</option>
                <option *ngFor="let t of formatos; let i = index" [ngValue]="t.id">{{ t.descripcion }}</option>
              </select>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="col-md-6 marginBottom">
        <fieldset>
          <div class="form-group row box-labelFloat">
            <label class="col-lg-3 col-form-label"><b class="text-danger">*</b> Módulo</label>
            <div class="col-lg-9">
              <app-dropdown [(ngModel)]="configuracion.modulo"
                (ngModelChange)="onModuloChange($event)"
                [editable]="true" [data]="modulos" [valueField]="'idmodulo'" 
                [textShow2]="'Módulo'" [optionLabel]="'nombremodulo'"/>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 marginBottom">
        <fieldset>
          <div class="form-group row box-labelFloat">
            <label class="col-lg-3 col-form-label"><b class="text-danger">*</b> Variedad</label>
            <div class="col-lg-9">
              <select [(ngModel)]="configuracion.variedad"
                [ngClass]="{'is-invalid': showValidation && !configuracion.variedad, 'is-valid': configuracion.variedad}"
                class="form-select mb-2" name="variedad">
                <option [ngValue]="''">Seleccione una opción</option>
                <option *ngFor="let t of variedades; let i = index" [ngValue]="t.idvariedad">{{ t.variedad }}</option>
              </select>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="botonGuardar mb-4 mt-4 d-flex align-items-center justify-content-center" style="gap: 1em;">
      <button (click)="sincronizarTablasMaestras()" class="btn btn-primary botonCelular" [disabled]="sincronizando">
        <i class="icon icon-sync" [class.icon-spin]="sincronizando"></i> 
        {{sincronizando ? 'Sincronizando...' : 'Sincronizar'}}
      </button>
      <button (click)="guardarConfiguracion()" class="btn btn-success botonCelular">
        <i class="icon icon-floppy-disk"></i> Guardar</button>
    </div>
  </div>
</div>